<div class="btn-visualization-group">
  <button title="Today" class="btn-visualization active" id="btn-visualization-today">
    <i class="fas fa-calendar-day"></i>
    <span>Today</span>
  </button>
  <button title="Weekly" class="btn-visualization" id="btn-visualization-weekly">
    <i class="fas fa-calendar-week"></i>
    <span>Weekly</span>
  </button>
  <button title="Monthly" class="btn-visualization" id="btn-visualization-monthly">
    <i class="fas fa-calendar-days"></i>
    <span>Monthly</span>
  </button>
  <button title="Annualy" class="btn-visualization" id="btn-visualization-annually">
    <i class="fas fa-calendar"></i>
    <span>Annualy</span>
  </button>
</div>
<div id="calendar-exhibition"></div>