<div id="show-keys"></div>
<div class="keyboard" translate="no">
  <div class="keyboard-row">
    <div class="sub-group">
      <div id="Escape" class="key">Esc</div>
    </div>
    <div class="sub-group">
      <div id="F1" class="key">F1</div>
      <div id="F2" class="key">F2</div>
      <div id="F3" class="key">F3</div>
      <div id="F4" class="key">F4</div>
    </div>
    <div class="sub-group">
      <div id="F5" class="key">F5</div>
      <div id="F6" class="key">F6</div>
      <div id="F7" class="key">F7</div>
      <div id="F8" class="key">F8</div>
    </div>
    <div class="sub-group">
      <div id="F9" class="key">F9</div>
      <div id="F10" class="key">F10</div>
      <div id="F11" class="key">F11</div>
      <div id="F12" class="key">F12</div>
    </div>
    <div class="sub-group">
      <div id="PrintScreen" class="key">Print Screen</div>
      <div id="ScrollLock" class="key">Scroll Lock</div>
      <div id="Pause" class="key">Pause Break</div>
    </div>
    <div class="sub-group">
      <div class="led" id="led-capsLock"></div>
      <div class="led"><i class="fas fa-"></i></div>
      <div class="led"><i class="fas fa-"></i></div>
    </div>
  </div>
  <div class="keyboard-row">
    <div class="basic-keyboard">
      <div class="keyboard-row">
        <div id="Backquote" class="key">'"</div>
        <div id="Digit1" class="key">1</div>
        <div id="Digit2" class="key">2</div>
        <div id="Digit3" class="key">3</div>
        <div id="Digit4" class="key">4</div>
        <div id="Digit5" class="key">5</div>
        <div id="Digit6" class="key">6</div>
        <div id="Digit7" class="key">7</div>
        <div id="Digit8" class="key">8</div>
        <div id="Digit9" class="key">9</div>
        <div id="Digit0" class="key">0</div>
        <div id="Minus" class="key">-</div>
        <div id="Equal" class="key">=</div>
        <div id="Backspace" class="key"><i class="fas fa-delete-left"></i></div>
      </div>
      <div class="keyboard-row">
        <div id="Tab" class="key">Tab <i class="fas fa-indent"></i></div>
        <div id="KeyQ" class="key">Q</div>
        <div id="KeyW" class="key">W</div>
        <div id="KeyE" class="key">E</div>
        <div id="KeyR" class="key">R</div>
        <div id="KeyT" class="key">T</div>
        <div id="KeyY" class="key">Y</div>
        <div id="KeyU" class="key">U</div>
        <div id="KeyI" class="key">I</div>
        <div id="KeyO" class="key">O</div>
        <div id="KeyP" class="key">P</div>
        <div id="BracketLeft" class="key">[</div>
        <div id="BracketRight" class="key">]</div>
        <div id="Delete" class="key">Delete</div>
      </div>
      <div class="keyboard-row">
        <div id="CapsLock" class="key">Caps Lock</div>
        <div id="KeyA" class="key">A</div>
        <div id="KeyS" class="key">S</div>
        <div id="KeyD" class="key">D</div>
        <div id="KeyF" class="key">F</div>
        <div id="KeyG" class="key">G</div>
        <div id="KeyH" class="key">H</div>
        <div id="KeyJ" class="key">J</div>
        <div id="KeyK" class="key">K</div>
        <div id="KeyL" class="key">L</div>
        <div id="Semicolon" class="key">Ç</div>
        <div id="Quote" class="key">'</div>
        <div id="Enter" class="key"><i class="fas fa-arrow-turn-down fa-rotate-90"></i></div>
      </div>
      <div class="keyboard-row">
        <div id="ShiftLeft" class="key"> <i class="fas fa-sort-up"></i> Shift</div>
        <div id="KeyZ" class="key">Z</div>
        <div id="KeyX" class="key">X</div>
        <div id="KeyC" class="key">C</div>
        <div id="KeyV" class="key">V</div>
        <div id="KeyB" class="key">B</div>
        <div id="KeyN" class="key">N</div>
        <div id="KeyM" class="key">M</div>
        <div id="Comma" class="key">,</div>
        <div id="Period" class="key">.</div>
        <div id="Slash" class="key">/</div>
        <div id="ShiftRight" class="key"> <i class="fas fa-sort-up"></i> Shift</div>
      </div>
      <div class="keyboard-row">
        <div id="ControlLeft" class="key">Ctrl</div>
        <div id="MetaLeft" class="key"><i class="fab fa-windows"></i></div>
        <div id="AltLeft" class="key">Alt</div>
        <div id="Space" class="key"></div>
        <div id="AltRight" class="key">Alt</div>
        <div id="MetaRight" class="key"><i class="fab fa-windows"></i></div>
        <div id="ContextMenu" class="key"><i class="fas fa-window-maximize"></i></div>
        <div id="ControlRight" class="key">Ctrl</div>
      </div>
    </div>
    <div class="config-keyboard">
      <div class="up">
        <div>
          <div id="Insert" class="key">Insert</div>
          <div id="Home" class="key">Home</div>
          <div id="PageUp" class="key">Page Up</div>
        </div>
        <div>
          <div id="Delete" class="key">Delete</div>
          <div id="End" class="key">End</div>
          <div id="PageDown" class="key">Page Down</div>
        </div>
      </div>
      <div class="down">
        <div>
          <div id="ArrowUp" class="key"><i class="fas fa-caret-up"></i></div>
        </div>
        <div>
          <div id="ArrowLeft" class="key"><i class="fas fa-caret-left"></i></div>
          <div id="ArrowDown" class="key"><i class="fas fa-caret-down"></i></div>
          <div id="ArrowRight" class="key"><i class="fas fa-caret-right"></i></div>
        </div>
      </div>
    </div>
    <div class="numped-keyboard">
      <div class="keyboard-row">
        <div id="NumLock" class="key">Num Lock</div>
        <div id="NumpadDivide" class="key">/</div>
        <div id="NumpadMultiply" class="key">*</div>
        <div id="NumpadSubtract" class="key">-</div>
      </div>
      <div class="keyboard-row">
        <div id="Numpad7" class="key">7</div>
        <div id="Numpad8" class="key">8</div>
        <div id="Numpad9" class="key">9</div>
        <div id="NumpadAdd" class="key">+</div>
      </div>
      <div class="keyboard-row">
        <div id="Numpad4" class="key">4</div>
        <div id="Numpad5" class="key">5</div>
        <div id="Numpad6" class="key">6</div>
        <div id="NumpadComma" class="key">,</div>
      </div>
      <div class="keyboard-row">
        <div id="Numpad1" class="key">1</div>
        <div id="Numpad2" class="key">2</div>
        <div id="Numpad3" class="key">3</div>
        <div id="NumpadEnter" class="key">Enter</div>
      </div>
      <div class="keyboard-row">
        <div id="Numpad0" class="key">0</div>
        <div id="NumpadDecimal" class="key">.</div>
      </div>
    </div>
  </div>
</div>